## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives*:
- sclearn
- numpy
- pandas

Some of the popular languages that Data Scientists use are:

In [ ]:
languages = ['Python','R','SQL']

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
libraries = ['sclearn','numpy','pandas']

|Data Science Tools|
|---|
|Jupyter Notebook|
 |Google Colab|
 |RStudio|

# Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

# Author

Diana Vasileva